.bob

rough.txt
middleware_rough.txt
agents.txt
project_u.txt
database.txt
auth-error.txt
prom-fastapi-intrumentor-metrics.txt
starlette-fastapi-metrics.txt


__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
*.jsonl

# Virtual environments
.venv
venv/

# Environment variables
.env
.env.development
.env.staging
.env.production

# Misc
*.ipynb

# Reports
evals/reports/